awkde @ git+https://github.com/noxtoby/awkde.git@1c31e55fe54c0cad80ab423a9605fc9ddfb2614c
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///tmp/build/80754af9/cffi_1625814692085/work
chardet @ file:///tmp/build/80754af9/chardet_1607706775000/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215153723/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
conda==4.12.0
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262147379/work
cryptography @ file:///tmp/build/80754af9/cryptography_1616767007030/work
cycler==0.11.0
dill==0.3.4
docker-pycreds==0.4.0
et-xmlfile==1.1.0
fonttools==4.29.1
future==0.18.2
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1645531658201/work
gym @ file:///home/conda/feedstock_root/build_artifacts/gym_1644328750340/work
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
joblib==1.1.0
kde-ebm @ git+https://github.com/ucl-pond/kde_ebm.git@7469ade235353c149d13f14cd4bc521e8116df24
kiwisolver==1.3.2
matplotlib==3.3.3
multiprocess==0.70.12.2
numpy==1.22.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.0
pathos==0.2.8
pathtools==0.1.2
Pillow==9.0.1
pox==0.3.0
ppft==1.6.6.4
promise @ file:///home/conda/feedstock_root/build_artifacts/promise_1649695365913/work
protobuf==3.15.8
psutil @ file:///tmp/build/80754af9/psutil_1612297992929/work
pybind11==2.9.1
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.7
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pySuStaIn @ file:///home/zzalsdme/ainostics/pySuStaIn
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2021.3
PyYAML==5.4.1
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1652206962720/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1611604430715/work
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1636643788196/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
threadpoolctl==3.1.0
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1650370875435/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1651835949154/work
